th {
	font-size: 12px;
	border: 2px solid;
}
tr {
	/*border: 1px solid;*/
}
td {
	border: 1px solid;
	font-size: 13px;
	font-family: Courier;
	padding: 4px;
	/*border-left: 1px dashed;*/
}
p {
	margin: 0px;
}
table {
	margin-top: 10px;
	width: 950px;
	border: 2px solid;
	border-collapse: collapse;
	margin: auto;
}
@media print {
@page {size: landscape}
	.ukryj {
		display: none;
	}
	
}
#przycisk {
	/*font-weight: bold;*/
	font-size: 15px;
}


div.srodek {
	text-align: right;
	width: 950px;
	margin: auto;
	margin-top: 5px;
	font-family: Courier;
	font-size: 13px;
	font-style: italic;
}
div.srodek2 {
	text-align: right;
	width: 950px;
	margin: auto;
	margin-top: 14px;
	margin-bottom: 8px;
	font-family: Courier;
	font-size: 15px;
}
.podpowiedz {
	font-size: 11px;
	text-align: right;
	font-style: italic;
	color: grey;
	/*border: 1px solid black;
	border-radius: 4px;*/
	margin: auto;
	width: 950px;
	padding: 2px 0 2px 0;
}

.schowEksport {
	text-decoration:line-through;
	color: gray;
}
