#logowanie {
	text-align:center;
	padding-top:50px;
}

#powitanie {
	font-size:20px;
	font-weight:bold;
	margin-bottom:80px;
}

#podpowiedz {
	font-size:12px;
	font-style:italic;
	color:gray;
}

#przycisk {
	margin-top:40px;
	font-size:16px;
	font-family:serif;
}
