table.okienkowa {
		width: 500px;
		margin: auto;
		border-collapse: collapse;
}
table.okienkowa td {
	font-size: 13px;
	text-align: right;
	vertical-align: middle;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid orange;
	width: 150px;
}
table.okienkowa td+td {
	text-align: left;
	padding-left: 10px;
	width: 350px;
}

.podpowiedz {
	text-align:center;
	font-size: 10px;
	font-style: italic;
	color: gray;
}
