html {
	font-family: Georgia;
}
p {
	font-size: 30px;
	/*font-family: Tahoma;*/
}

button {
	font-family: Arial;
	font-size: 13px;
	padding: 0px;
}

.header {
	width: 150px;
	/*border: 1px solid black;*/
	display: inline-block;
	border-radius: 10px;
	padding: 18px 5px 5px 5px;
	background-color: #FFC266;	
	position: relative;
	top: -20px;
	margin: 0px 10px 0px 10px;
	font-size: 14px;
}

.wcis {
	background-color: orange;
	border: 3px solid gray;
}

body {
	background-color: #F5F5F5;
}

.header:hover {
	background-color: orange;
}

#footer {
	font-family: Verdana;
	font-size: 10px;
	text-align: center;
	position: static;
	bottom: 0px;
}

#header a {
	text-decoration: none;
	color: black;
}

#header {
	text-align: center;
	position: relative;
}

table#korespondencja {
	/*border: 1px solid black;*/
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

table#korespondencja td {
	padding: 7px 0px 7px 0px;
	font-family: Trebuchet MS, sans-serif;
}

/** {
	border: 1px solid black;
}*/

div#pole {
	position: absolute;
	top: 5px;
	right: 15px;
	font-family: Arial;
	font-size: 13px;
	text-align: right;
}

div#komunikat {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 250px;
	padding: 15px 5.5px 5.5px 15px;
	font-family: Verdana;
	font-size: 11px;
	text-align: left;
	border: 2px solid green;
	border-radius: 10px;
	background-color: white;
	min-height: 30px;
	//overflow: auto;
	word-wrap:break-word;
}

div.szukaj {
	position: static;
	/*display: inline-block;*/
	/*left: -20px;*/
	margin: auto ;
	/*width: 100%;*/
	width: 1200px;
	/*background-color: #CFEBFD;*/
	/*border-radius: 20px;*/
	/*border: 2px solid white;*/
	padding: 0px;
	/*border: 1px solid;*/
	
}

div#przegladaj {
	top: 130px;
}

div#szukaj_d {
	top: 390px;
}

table#wpisy {
	position: static;
	margin: auto;
	margin-top: 10px;
	width: 1200px;
	border-collapse:collapse;
	font-family: Arial;
	font-size: 14px;
	table-layout: fixed; /*chroni przed zmianą szerokości kolumn zależnie od treści*/
}

table#wpisy tr:hover {
	background-color: #FFE4B5;
}

table#wpisy thead tr:hover {
/*bez hovera*/
	background-color: transparent;
}

table#wpisy th {
	text-align: left;
	font-size: 13px;
	border-bottom: 2px solid black;
}

table#wpisy td {
	padding:3px 0px 3px 0px;
	border-bottom: 1px solid black;
	font-size: 13px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	word-wrap:break-word; /*dzielenie wyrazów*/
}

table#szukaj_t {
	margin: auto;
	border-collapse: collapse;
}

table#szukaj_t tr > td {
	padding: 9px;
	font-size: 14px;
}

table#ed_rek_t td {
	font-size: 10px;
}

#notLogged {
	color: red;
	font-style:italic;
}

#placowka {
	position: relative;
	top:-10px;
	text-align: center;
	font-size: 14px;
	margin-bottom: -5px; /*To podciąga w górę przyciski przeglądania dziennika*/
}

.schow {
	text-decoration:line-through;
	background-color: #9A9A9A;
}
