body {
	background-color: #F5F5F5;
}
input.button {
	font-size: 9px;
	font-family: Arial;
	padding: 0px;
}

div.srodek {
	text-align: center;
}

table.rekordy {
	display:inline-block;
	border-collapse: collapse;
	font-size: 12px;
}

table.rekordy tr:hover {
	background-color: #FFE4B5;
}

th {
	font-family: Arial;
	font-size: 13px;
	border-bottom: 2px solid black;
	text-align: left;
}

td {
	vertical-align: top;
	word-wrap: break-word;
	border-bottom: 1px solid #000;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	padding: 3px;
}

.lewa {
	float:left;
	margin-left:60px;
}

.prawa {
	float:right;
	margin-right:60px;
}

div#pole {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 13px;
	text-align: right;
	font-family: Arial;
}

/** {
border: 1px solid;
}*/
